<!doctype html>
<html lang="en" ng-app="MenuApp">
  <head>
    <title>MenuApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <script src="src/data.module.js"></script>
    <script src="src/menuapp.module.js"></script>
    <script src="src/routes.js"></script>
    <script src="src/categories.component.js"></script>
    <script src="src/items.component.js"></script>
    <script src="src/menudata.service.js"></script>
  </head>
<body>
   <div class="container">
    <!-- <h1>Welcome to our Restaurant</h1> -->
    <ui-view></ui-view>

    <!-- <div class="row">
    <div>
      <input type="text" placeholder="Search term" class="form-control" ng-model="searchStr">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="items.showMenuItems(searchStr)">Narrow It Down For Me!</button>
    </div>
    </div>

    <div class="results">
      <div ng-if="!items.items.length">
        <h3>{{items.empty}}</h3>
      </div>
      <div ng-if="items.items.length">
        <foundItems found-items="items.items" on-remove="items.removeItem(index)"></foundItems>
     </div>
    </div> -->

  </div>

</body>
</html>