<fieldset ng-controller="SignUpController as user">
    <legend style="color: white; margin-left: 1em;">Registration</legend>
    <form style='margin-left: 5em;'name='regForm' novalidate>

      <input style="color: black" type="text" name="firstName" placeholder="First Name..."
        ng-model="user.firstName"
        required
        minlength="2"
        ng-maxlength="20">
        {{ user.firstName }}
        <span style="color: red; text-shadow: 0 0 2px black;"
          ng-if="(regForm.firstName.$error.minlength || regForm.firstName.$error.required || 
            regForm.firstName.$error.maxlength) && regForm.firstName.$touched">
          Please enter a valid First Name between 2 and 20 characters long.
        </span>
        <br>

        <input style="color: black;" type="text" name="lastName" placeholder="Last Name..."
        ng-model="user.lastName"
        required
        minlength="2"
        ng-maxlength="20">
        {{ user.lastName }}
        <span style="color: red; text-shadow: 0 0 2px black;"
          ng-if="(regForm.lastName.$error.minlength || regForm.lastName.$error.required || 
            regForm.lastName.$error.maxlength) && regForm.lastName.$touched">
          Please enter a valid Last Name between 2 and 20 characters long.
        </span>
        <br>

      <input style="color: black" type="email" name="email" placeholder="Email..."
        ng-model="user.email"
        required>
        {{ user.email }}
        <span style="color: red; text-shadow: 0 0 2px black;"
          ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>

      <input style="color: black" type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})"
        required>
        {{ user.phone }}
        <span style="color: red; text-shadow: 0 0 2px black;"
          ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>

        <input style="color: black" type="text" name="menuNum" placeholder="Favorite Menu #... ex.L1"
        ng-model="user.menuNum"
        required>
        {{ user.menuNum }}
        <span style="color: red; text-shadow: 0 0 2px black;" ng-if="regForm.menuNum.$invalid && regForm.menuNum.$touched">
          Please enter a menu number.
        </span>
        <br>

      <button class="sign-up-button"
        ng-disabled="regForm.$invalid"
        ng-click="user.saveUser()">Submit</button>
    </form>

    <div style='margin-left: 1em;' id="info" ng-if="user.itemExists">
      <strong>{{ user.message }}</strong>
    </div>
    <div style='margin-left: 1em;'id="info" ng-if="!user.itemExists">
      <strong>{{ user.message }}</strong>
    </div>
  </fieldset>

